body {
  padding: 0px 100px;
  background-color: #f1f1f1;
}

.logo {
  background-color: white;
}

.nav {
  background-color: rgb(21, 48, 57);
}

ul {
  list-style: none;
  display: flex;
  gap: 50px;
  padding: 20px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100px;
  height: 100px;
}

.headerImage {
  height: 350px;
  background-color: olivedrab;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 30px;
}

.imageText {
  font-size: 30px;
}

.aboutTiles {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 30px;
  margin: 30px auto;
}

.textTab {
  padding: 20px;
  font-size: 1em;
  background-color: white;
}

.contentContainer {
  display: flex;
  gap: 50px;
  background-color: white;
  padding: 30px;
  margin-bottom: 30px;
}

.sideNav {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: #f1f1f1;
  width: 300px;
}